@use '@core/styles/mixins' as *;
@use '@core/styles/spacings' as sp;

.container {
    margin: 20px 50px 0;
    width: 100%;
    position: relative;

    @include flex-column;

    min-width: 0;
    gap: sp.$xl;

    .tablesSection {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .pageTitle {
        margin-bottom: 10px;
    }
}
