// Black
$black: #111;
$black-transparent: #0009;

// White
$white: #fff;

// Grey
$grey-900: #eee;
$grey-800: #ccc;
$grey-700: #aaa;
$grey-600: #999;
$grey-500: #777;
$grey-400: #666;
$grey-300: #555;
$grey-200: #444;
$grey-100: #333;

// Blue
$blue: #3866df;
